<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css" type="text/css">
    <!-- Dropdownhover CSS -->
    <link rel="stylesheet" href="../assets/css/bootstrap-dropdownhover.min.css" type="text/css">
    <!-- fonts awesome -->
    <link rel="stylesheet" href="../assets/font/css/font-awesome.min.css" type="text/css">
    <!-- Plugin CSS -->
    <link rel="stylesheet" href="../assets/css/animate.min.css" type="text/css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../assets/css/style.css" type="text/css">
    <!-- Owl Carousel Assets -->
    <link href="../assets/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="../assets/owl-carousel/owl.theme.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="../libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="../libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div  th:fragment="under">
    <section class="px-bg2">
        <!-- .Subscribe -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="subscribe">
                        <h2><br/>English Mini Corpus Class Online</h2>
                        <a href="#" class="button">Subscribe Now</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.Subscribe -->
    </section>
    <!--/主体区域，在这个区域内引入字幕或者单词-->

    <!-- START FOOTER SECTION -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="flog"><img src="../assets/img/logo.png" alt="f-logo" /></div>
                </div>
                <div class="col-12-12 col-sm-6 col-md-6">
				<span class="address">123, Radio Station, San francisco<br>
				 1234, new sm street<br>
				 San francisco</span>
                </div>
                <div class="col-12-12 col-sm-6 col-md-6">
				<span class="phone">Phone : +000 123 456 789<br>
					Fax : 11.880.000<br>
					E-mail: Info@example.cp,m</span>
                </div>
                <div class="col-md-12">
                    <div class="f-sicon">
                        <h2>FOLLOW US ON</h2>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                    <div class="copyright">
                        Copyright &copy; 2017.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
</body>
</html>