<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>单词</title>
    <link rel="stylesheet" th:href="@{../pintuer/pintuer.css}" type="text/css">
    <script th:src="@{../pintuer/pintuer.js}"></script>
    <script th:src="@{../pintuer/jquery.js}"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css" type="text/css">
    <!-- Dropdownhover CSS -->
    <link rel="stylesheet" href="../assets/css/bootstrap-dropdownhover.min.css" type="text/css">
    <!-- fonts awesome -->
    <link rel="stylesheet" href="../assets/font/css/font-awesome.min.css" type="text/css">
    <!-- Plugin CSS -->
    <link rel="stylesheet" href="../assets/css/animate.min.css" type="text/css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../assets/css/style.css" type="text/css">
    <!-- Owl Carousel Assets -->
    <link href="../assets/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="../assets/owl-carousel/owl.theme.css" rel="stylesheet">
    <script src="../libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="../libs/respond.js/1.4.2/respond.min.js"></script>
</head>
<body>
<div th:insert="~{public/bar :: top}"></div>
<div class="header-title">
    <!--可以在控制器中传递参数在About Us中取出，显示目前的网页-->
    <h1 th:text="${dataMap.about}">About Us</h1>
    <form th:action="@{/searchWord}" th:method="get">
    <input  type="text" class="input input-auto" name="word">
    <button class="button" type="submit"><span class="icon-search"></span>搜索</button>
    </form>
</div>
<div>
    <table class="table table-hover ">
        <thead>
        <tr>
            <th>动作</th>
            <th>英文单词</th>
            <th>汉译</th>
            <th>词性</th>
            <th>等级</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="keyData:${dataMap.keyData}">
            <th><a th:class="icon-search-plus" th:href="@{/search(keywords=${keyData.engKey})}"></a></th>
            <th th:text="${keyData.engKey}"></th>
            <th th:text="${keyData.chaKey}"></th>
            <th th:text="${keyData.keyType}"></th>
            <th th:text="${keyData.keyLevel}"></th>
        </tr>
        </tbody>
    </table>
    <ul class="pagination">
        <li><a th:href="@{${dataMap.req}(flag=2,page=${dataMap.currentPage})}" href="#">«</a> </li>
        <li ><a th:href="@{${dataMap.req}(page=1)}" th:class="${dataMap.currentPage==1?'active':''}" href="#">1</a> </li>
        <li><a th:href="@{${dataMap.req}(page=2)}" th:class="${dataMap.currentPage==2?'active':''}" href="#">2</a> </li>
        <li><a th:href="@{${dataMap.req}(page=3)}" th:class="${dataMap.currentPage==3?'active':''}" href="#">3</a> </li>
        <li><a th:href="@{${dataMap.req}(page=4)}" th:class="${dataMap.currentPage==4?'active':''}" href="#">4</a> </li>
        <li><a th:href="@{${dataMap.req}(page=5)}" th:class="${dataMap.currentPage==5?'active':''}" href="#">5</a> </li>
        <li><a th:href="@{${dataMap.req}(flag=1,page=${dataMap.currentPage})}" href="#">»</a> </li>
    </ul>
</div>
<div th:insert="~{/public/lower :: under}"></div>
</body>
</html>